<tr>
  <td>{{ prestation.typePresta }}</td>
  <td>{{ prestation.client }}</td>
  <td>{{ prestation.nbJours }}</td>
  <td>{{ prestation.tjmHt | currency: 'EUR'}}</td>
  <td>{{ prestation | total | currency: 'EUR'}}</td>
  <td>{{ prestation | total: prestation.tauxTva | currency: 'EUR'}}</td>
  <td></td>
  <td appState [state]="prestation.state" >
    <select (change)="changeState($event)">
      <option [value]="prestation.state">{{ prestation.state }}</option>
      <ng-container *ngFor="let state of states">
        <option *ngIf="prestation.state !== state" [value]="state">{{ state }}</option>
      </ng-container>
    </select>
  </td>
</tr>
